<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>

        <mapping resource="hibernate/edu.anderson.zaharov/Employer.hbm.xml"></mapping>
        <mapping resource="hibernate/edu.anderson.zaharov/Team.hbm.xml"></mapping>
        <mapping resource="hibernate/edu.anderson.zaharov/Project.hbm.xml"></mapping>
        <mapping resource="hibernate/edu.anderson.zaharov/FeedBack.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>